<div class="form-page">
  <div class="form-container">
    <div class="field">
      <h2>Don't worry, we can reset it for you.</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field" style="justify-content: flex-start">
        <%= f.label :email, class: "small-width" %><br />
        <%= f.email_field :email, autofocus: true, class: "medium-width" %>
      </div>

      <div class="field" style="justify-content: flex-end">
        <%= f.submit "Send me reset password instructions" %>
      </div>
    <% end %>

  </div>
</div>
