<!DOCTYPE html>
<html>
<!-- maximum-scale=1 and user-scalable=no prevents zooming on mobile apps -->
<head name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Joseph Cho Portfolio Site</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <div class="logo">
      <li class="nav-link"><a href="/">Home</a></li>
    </div>
    
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <!-- <li class="nav-link"><a href="/tools/">Tools</a></li> -->
        <li class="nav-link">
          <a href="/posts/">Categories</a>
          <!-- <div class="dropdown-content">
            <p><a href="/category/budgeting/">Budgeting</a></p>
            <p><a href="/category/credit/">Credit</a></p>
            <p><a href="/category/investing/">Investing</a></p>
            <p><a href="/category/retirement/">Retirement</a></p>
            <p><a href="/category/savings/">Savings</a></p>
          </div> -->
        </li>
        <li class="nav-link"><a href="/about/">About</a></li>
        <li class="nav-link"><a href="#" onclick="donateButton()">Donate</a>
          <form id="donate_form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="W7EZSGAKZSRY6">
          </form>
        </li>
        <!-- <li class="nav-link"><a href="/tools/">Tools</a></li>         -->
      </ul>
    </nav>
  </div>
</header>

<span class="notice"><%= notice %></span>
<span class="alert"><%= alert %></span>

<div style="margin: auto; max-width: 75em;">
  <div class="intro">
    <div class="intro__picture">
      <%= image_tag "peru.jpg", class: "animated fadeIn shadow" %>
    </div>

    <div class="intro__description">
      <h1 class="float"><b>Hi there,</b></h1>
      <h3>My name's Joseph.</h3>
      <h5><i>I like to code, play chess, and laugh.</i></h5>
      <p>Problems have all sorts of solutions. Like in art, how they're expressed depends on the person behind the code.
        While there are a myraid of issues in code, the best questions sit brewing in the back of my head without an answer.
        After all, only good questions can bear fruit to good answers.</p>
      <p>There's nothing quite like finding a clean solution to a complex problem.
        What I love about programming is its ability to immerse me completely. As a kid I would sit down for hours with a new book.
        There was something about the creak of the pages, the texture of pressed sheets, and the scent of freshly printed paper that kept me hooked.
        I could read for hours completely immersed in my imagination.</p>
    </div>
  </div>

  <hr>

  <div class="project__list">
    <div class="project__list--item">
      <div class="project__list--image">
        <%= image_tag "jumper.png", class: "shadow" %>
      </div>
      <div class="project__list--label">
        <h3>Jumper</h3>
        <h5>
          <p>Jumper is a collaborative project aimed towards rating team-orientated entertainment venues. Rock climbing, Escape the Room, and sky diving are some of the venues rated. Technologies used were Rails, Foundation, MiniTest and PostgreSQL.</p>
          <p>Key lessons that I took away from this project were leading a team of four junior developers, and expanding my css knowledge of emebeded videos, positioning elements, and animations.</p>
        </h5>
      </div>
    </div>

    <div class="project__list--item">
      <div class="project__list--label">
        <h3>WingMe</h3>
        <h5>
          <p>WingMe is a dating app where instead of you matching yourself, your friends to match you.</p>
          <p>WingMe is a project aimed at helping singles connect in the most organic way possible - through friends.
          Some libraries I experimented with were Masonry.js, Devise, Kaminari, PG Search, and Facebook API Authentication.</p>
          <p>A key challenge was creating user-to-user (self-referential) associations for the friend and match system. Adding another user and referencing them required some ActiveRecord trickery.
          Some other lessons learned were overriding Foundations fixed grid system with Masonry.js flexible grid system, and integrating Devise authentication with Facebook Authentication. The latter was my first experience getting two different API's to work together.</p>
        </h5>
      </div>
      <div class="project__list--image">
        <%= image_tag "wingme.png", class: "shadow" %>
      </div>
    </div>

    <div class="project__list--item">
      <div class="project__list--image">
        <%= image_tag "csgo.png", class: "shadow" %>
      </div>
      <div class="project__list--label">
        <h3>CS:GO Webcrawler</h3>
        <h5>
          <p>This webcrawler was a project for a good friend. The focus was to parse and export into a CSV win rates, items gambled, and who gambled the items</p>
          <p>An interesting problem I encountered on this project was how to architect the data. When iterating through the websites I was given the choice to use either an array of hashes or an array of objects. An array of objects was chosen because it would have scalability. It’s significantly easier to manipulate objects as opposed to hashes in Ruby.
          <p>On this project I took my first dive into Nokogiri and by extension, Xpath. The XML/HTML parsing functions helped pick out usernames and items. The extraction code was placed inside of a loop that executed at a certain interval and pushed the information to Google Docs (shout out to Chrome’s developer tools to help me navigate through the Document Object Model aka DOM).</p>
        </h5>
      </div>
    </div>

    <div class="project__list--item">
      <div class="project__list--label">
        <h3>Arcadia</h3>
        <h5>
          <p>Arcadia is a health care consulting company specializing in EHR data aggregation and advanced analytics.</p>
          <p>I spent time here as a SQL Data Analyst and made queries that spanned across various databases. Technologies used here were T-SQL, P/L-SQL, and Informatica Cloud Software.</p>
          <p>Some sample queries I created used joins to link tables together. Queries would filter for certain results sucuh as NULL patient ID's, or “Test Accounts” by using wildcard characters. Informatica Cloud Agents were used to transfer data over. These lightweight clients would create secure SSH tunnels and transfer encrypted data locked with public and private keys.</p>
        </h5>
      </div>
      <div class="project__list--image">
        <%= image_tag "arcadia.png", class: "shadow" %>
      </div>
    </div>
    
    <div class="project__list--item">
      <div class="project__list--image">
        <%= image_tag "mackey.png", class: "shadow" %>
      </div>
      <div class="project__list--label">
        <h3>Mackey LLC</h3>
        <h5>Currently I'm hacking away here as a Software Engineer.</h5>
        <h5>I do anything ranging from adding features, addressing custom client requests, or adding flashy SASS + jQuery effects.</h5>
      </div>
    </div>
  </div>
</div>

<footer class="aboutme__footer">
  <div class="container">
    <a href="https://www.linkedin.com/in/jscho13" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x"></i>
      </span>
    </a>
    <a href="https://github.com/jscho13" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x"></i>
      </span>
    </a>
    <a href="https://twitter.com/jscho13" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x"></i>
      </span>
    </a>
    <span>© 2016 by Joseph Cho. All Rights Reserved.</span>
  </div>
</footer>

</html>
