<div class="row animated fadeIn">
  <div class="col-md-8 col-md-offset-2">
    <div class="row row-padding">
      <div class="col-md-4">
        <div class="darken">
          <%= image_tag "jumper1.png", class: "img-responsive project-img", :data => {"toggle" => "modal", "target" => "#myModal"} %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="darken">
          <%= image_tag "wingme1.png", class: "img-responsive project-img" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="darken">
          <%= image_tag "csgo1.png", class: "img-responsive project-img" %>
        </div>
      </div>
    </div>
    <div class="row row-padding">
      <div class="col-md-4">
        <div class="darken">
          <%= image_tag "arcadia1.png", class: "img-responsive project-img" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="darken">
          <%= image_tag "mackey1.png", class: "img-responsive project-img" %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
