<div class="row animated fadeIn">
  <div class="col-md-10 col-md-offset-1">
    <div class="row row-padding">
      <div class="col-md-8">
        <%= image_tag "jumper1.png", class: "img-responsive" %>
      </div>
      <div class="col-md-4">
        <div class="project-label">Jumper</div>
      </div>
    </div>
    <div class="row row-padding">
      <div class="col-md-8">
        <%= image_tag "wingme1.png", class: "img-responsive" %>
      </div>
      <div class="col-md-4">
        <div class="project-label">WingMe</div>
      </div>
      </div>
    <div class="row row-padding">
      <div class="col-md-8">
        <%= image_tag "csgo1.png", class: "img-responsive" %>
      </div>
      <div class="col-md-4">
        <div class="project-label">CS:Go Webcrawler</div>
      </div>
    </div>
    <div class="row row-padding">
      <div class="col-md-8">
        <%= image_tag "arcadia1.png", class: "img-responsive" %>
      </div>
      <div class="col-md-4">
        <div class="project-label">Arcadia Healthcare Solutions</div>
      </div>
    </div>
    <div class="row row-padding">
      <div class="col-md-8">
        <%= image_tag "mackey1.png", class: "img-responsive" %>
      </div>
      <div class="col-md-4">
        <div class="project-label">MackeyRMS</div>
      </div>
    </div>
  </div>
</div>
