<div class="row animated fadeIn">
  <div class="col-md-12">
    <div class="row row-padding">
      <div class="col-md-4">
        <div class="darken">
          <%= image_tag "jumper1.png", class: "project-img", :data => {"toggle" => "modal", "target" => "#modal1"} %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="darken">
          <%= image_tag "wingme1.png", class: "project-img", :data => {"toggle" => "modal", "target" => "#modal2"} %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="darken">
          <%= image_tag "csgo1.png", class: "project-img", :data => {"toggle" => "modal", "target" => "#modal3"} %>
        </div>
      </div>
    </div>
    <div class="row row-padding">
      <div class="col-md-4">
        <div class="darken">
          <%= image_tag "arcadia1.png", class: "project-img", :data => {"toggle" => "modal", "target" => "#modal4"} %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="darken">
          <%= image_tag "mackey1.png", class: "project-img", :data => {"toggle" => "modal", "target" => "#modal5"} %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal1" tabindex="-1">
  <div class="modal-dialog modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
      <h4 class="modal-title">Jumper</h4>
    </div>
    <div class="modal-body">
      Ruby on Rails, or simply Rails, is a web application framework written in Ruby under MIT License. Rails is a model–view–controller (MVC) framework, providing default structures for a database, a web service, and web pages. It encourages and facilitates the use of web standards such as JSON or XML for data transfer, and HTML, CSS and JavaScript for display and user interfacing. In addition to MVC, Rails emphasizes the use of other well-known software engineering patterns and paradigms, including convention over configuration (CoC), don't repeat yourself (DRY), and the active record pattern.
      Foundation is a responsive front-end framework that utilizes a responsive grid, HTML and CSS components. It includes code snippets for typography, forms, buttons, navigation and other common interface components. It also includes optional JavaScript extensions for a more responsive application. Foundation is maintained by ZURB and is an open source project.
      PostgreSQL, often simply Postgres, is an object-relational database management system (ORDBMS) with an emphasis on extensibility and standards-compliance. As a database server, its primary function is to store data securely, supporting best practices, and to allow for retrieval at the request of other software applications.
    </div>
  </div>
</div>

<div class="modal fade" id="modal2" tabindex="-1">
  <div class="modal-dialog modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
      <h4 class="modal-title">WingMe</h4>
    </div>
    <div class="modal-body">
      <p>WingMe is a dating app where instead of you matching yourself, you get your friends to match you! Check it out at WingMe.co.</p>
      Masonry.js is a cascading grid library. It supplements Foundation by breaking out of it's fixed grid system, for a more dynamic grid system that renders well both on desktops and mobile platforms.
      The above gems are used to add functionality to Rails apps. Devise is used for user authentication, Kaminari is used for pagination, and PG Search is used to add search functionality on database columns of choice.
      WingMe allows Facebook Authentication. I dived deep into Facebooks API documentation, to figure out the best way to get their code to communicate with the source code of the Devise gem.
    </div>
  </div>
</div>

<div class="modal fade" id="modal3" tabindex="-1">
  <div class="modal-dialog modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
      <h4 class="modal-title">CS:Go Webcrawler</h4>
    </div>
    <div class="modal-body">
      <p>There were several design decisions made while coding of the webcrawler. When iterating through the websites it was tempting to use either an array of hashes or an array of objects. Both were considered because they contain a list of attributes stored within a single unit. However, an array of objects was chosen because it would have scalability. It’s significantly easier to manipulate objects as opposed to hashes.</p>
      <p>Ruby gems are useful for adding additional functionality with ease. Nokogiri is a gem (another name for Ruby library) that allows Ruby to parse through XML/HTML or similar markup languages. It was used to extract betting odds, usernames, and items being bet from the page during a set extraction interval. The extracted data was stored on the cloud, so the user could amass data on betting statistics.</p>
      <p>XPath was used to select the elements from the page. I extensively used Chrome’s developer tools to navigate through the DOM (Document Object Model). The DOM is particularly useful to understand the structure of the website. HTML, CSS, and JavaScript can all be used within the DOM to manipulate the site client-side.</p>
      Nokogiri (鋸) is an HTML, XML, SAX, and Reader parser. It parses and searches XML/HTML very quickly, and also has correctly implemented CSS3 selector support as well as XPath 1.0 support.
      XPath, the XML Path Language, is a query language for selecting nodes from an XML document. In addition, XPath may be used to compute values (e.g., strings, numbers, or Boolean values) from the content of an XML document.
    </div>
  </div>
</div>

<div class="modal fade" id="modal4" tabindex="-1">
  <div class="modal-dialog modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
      <h4 class="modal-title">Arcadia Healthcare Solutions</h4>
    </div>
    <div class="modal-body">
      SQL is a special-purpose programming language designed for managing data held in a relational database management system (RDBMS). Originally based upon relational algebra and tuple relational calculus, SQL consists of a data definition, manipulation, control language. The scope of SQL includes data insert, query, update, delete, schema creation and modification, and data access control. Although SQL is often described as, and to a great extent is, a declarative language, it also includes procedural elements.
      Informatica Cloud is a bulk data integration and data warehousing system. While their technology spans a variety of cloud and non-cloud applications, their data integration and ETL processes more are particularly robust. Informatica Cloud is able to extract data using a secure agent installed cloud side. This data is then encrypted and transferred locally. As of August 2015 they have been acquisitioned by Microsoft and Salesforce.
      <p>The bottom section of the query always contains the FROM and WHERE statement. SQL queries always come with a SELECT and FROM statement. The WHERE statement is an optional statement frequently used to filter extraction results.</p>
      <p>In this query, the FROM statement includes a left outer join, inner join, and left join. Joins are used to link tables together, and are integral to creating more complex queries that span across the database. This WHERE statement is used to filter our certain results. NULL patient ids, or test usernames are being parsed based on a wildcard search function.</p>
    </div>
  </div>
</div>

<div class="modal fade" id="modal5" tabindex="-1">
  <div class="modal-dialog modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
      <h4 class="modal-title">MackeyRMS</h4>
    </div>
    <div class="modal-body">
      This is a work in progress.
    </div>
  </div>
</div>
