<!DOCTYPE html>
<html>
<!-- maximum-scale=1 and user-scalable=no prevents zooming on mobile apps -->
<head name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Joseph Cho Portfolio Site</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <div class="logo">
      <li class="nav-link"><a href="/">Home</a></li>
    </div>
    
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/about/">About</a></li>

        <li class="nav-link">
          <a href="/posts/">Archives</a>
          <div class="dropdown-content">
            <p>Budgeting</p>
            <p>Credit</p>
            <p>Investing</p>
            <p>Retirement</p>
            <p>Savings</p>
          </div>
        </li>

        <li class="nav-link"><a href="#" onclick="donateButton()">Donate</a>
          <form id="donate_form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="W7EZSGAKZSRY6">
          </form>
        </li>
        <!-- <li class="nav-link"><a href="/tools/">Tools</a></li>         -->
      </ul>
    </nav>
  </div>
</header>

<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    
  <div class="container">
    <%= yield %>  
  </div>
    
  <footer>
    <div class="container">
      <div class="row">
        <a href="https://www.linkedin.com/in/jscho13" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>
        </a>
        <a href="https://github.com/jscho13" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x"></i>
          </span>
        </a>
        <a href="https://twitter.com/jscho13" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-square-o fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
        </a>
        <span>© 2016 by Joseph Cho. All Rights Reserved.</span>
      </div>
    </div>
  </footer>
</body>
</html>
